notes.txt
.DS_Store
.project
*.test
*.out
*.exe
*.exe~
*.dll
*.so
*.dylib
*~
tags
vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
/internal/service/setup.sql
